<!DOCTYPE html>

<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .tippy-active {

        }

        .tippy-arrow {

        }

        .tippy-content {

        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">

    <title>访问用户:[[${name}]]</title>
    <link href="/static/assets/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <link rel="stylesheet" href="/static/assets/profile/output.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .tippy-* {

        }
        .tippy-active {

        }

        .tippy-arrow {

        }

        .tippy-content {

        }

        /*.my-bg-color >>> .el-collapse-item .el-collapse-item__header {*/
        /*    background-color: #eaf1f7 !important;*/
        /*    border-bottom: none !important;*/
        /*}*/
        .el-collapse-item__header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 48px;
            line-height: 48px;
            background-color: #eaf1f7;
            color: #303133;
            cursor: pointer;
            border-bottom: 1px solid #eaf1f7;
            font-size: 13px;
            font-weight: 500;
            -webkit-transition: border-bottom-color .3s;
            transition: border-bottom-color .3s;
            outline: 0;
        }

        .is-active {
            border-bottom-color: transparent;
        }

        .el-collapse-item__content {
            padding-bottom: 25px;
            background-color: #eaf1f7;
            font-size: 13px;
            color: #303133;
            line-height: 1.769230769230769;
        }
    </style>
</head>
<body class="bg-grey-lighter font-sans antialiased">
<!--header-->
<!-- Main -->
<div class="flex" id="app" v-cloak
     >
    <!-- Content -->
    <div class="flex flex-1 flex-col md:px-6 pt-10" id="content">
        <!-- Title -->
        <div class="px-6 md:px-0 flex justify-between items-center -order-1">
            <div>
                <h2 class="font-normal">访问用户:[[${name}]]</h2>
                <p class="text-grey-dark mt-2">最近发表</p>
            </div>
        </div>
        <!-- Desktop Stats -->
        <div class="hidden px-6 md:px-0 mt-4 md:flex flex-wrap order-1 md:-order-1 md:shadow-md js-tab-pane"
             id="section-stats">
            <div class="p-4 px-6 w-full md:w-1/2 rounded md:rounded-r-none bg-white shadow-md md:shadow-none">
                <h4>[[${name}]]最近发表的三篇文章</h4>
                <table class="mt-4 w-full">
                    <thead class="p-2 text-sm leading-loose border-b text-indigo">
                    <tr>
                        <td>文章名</td>
                        <td class="text-center">评论数</td>
                        <td class="text-right">点赞数</td>
                    </tr>
                    </thead>
                    <tbody class="p-2 leading-loose text-sm">
                    <tr class="border-b" v-if="likeMost3.length === 0">
                        <td class="py-2" colspan="3">该用户未发表任何文章</td>
                    </tr>
                    <tr class="border-b" v-for="item in likeMost3">
                        <td class="py-2">
                            <el-link :underline="false" :href="'/news/post/' + item.id">{{item.title}}</el-link>
                        </td>
                        <td class="py-2 text-center">{{item.commentCount}}</td>
                        <td class="py-2 text-right">{{item.likeCount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="w-full md:w-1/2 p-4 md:pt-12 md:pl-1 mt-4 md:mt-0 lg:pt-12 lg:pl-8 rounded md:rounded-r-none bg-white shadow-md md:shadow-none">
                <div class="flex">
                    <div class="w-1/2">
                        <p class="text-indigo text-sm p-2">评论最多的文章</p>
                        <p class="font-medium text-sm pl-2">
                            <el-link :underline="false"
                                     :href="commentMost !== null ? '/news/post/' + commentMost.id : '#'">
                                {{commentMost !== null ? commentMost.title : '暂无文章诶'}}
                            </el-link>
                        </p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-indigo text-sm p-2">一共发表的文章</p>
                        <p class="font-medium text-sm pl-2">{{allNews.length}}</p>
                    </div>
                </div>
                <div class="pt-6">
                    <p class="text-indigo text-sm p-2">点赞最多的文章</p>
                    <p class="font-medium text-sm pl-2 leading-normal">
                        <el-link :underline="false" :href="likeMost !== null ? '/news/post/' + likeMost.id : '#'">
                            {{likeMost !== null ? likeMost.title : '暂无文章诶'}}
                        </el-link>
                    </p>
                </div>
            </div>
        </div>
        <!-- Filter -->
        <div class="px-6 md:px-0 flex items-baseline justify-between border-b-2 border-grey-light mt-6 order-0 lg:order-1">
            <h4 class="hidden md:inline-block text-grey-dark font-normal">文章</h4>
            <div>
                <div class="inline-block md:hidden no-underline border-indigo pb-2 px-2 text-sm mr-2 text-indigo-darkest hover:cursor-pointer js-tab relative"
                     data-tab="section-stats">Stats
                </div>
                <div class="no-underline inline-block border-indigo pb-2 px-2 text-sm mr-2 text-indigo-darkest hover:cursor-pointer js-tab active relative"
                     data-tab="already-published">已发表 <span class="text-indigo text-xs">({{allNews.length}})</span>
                </div>
            </div>
        </div>
        <!-- already-published -->
        <div class="hidden px-2 pt-2 md:px-0 flex-wrap order-2 pb-8 js-tab-pane active" id="already-published">
            <div class="flex flex-row sm:flex-col items-center sm:items-start w-full xs:w-1/2 sm:w-1/3 md:w-1/5 p-4 js-book"
                 v-for="item in allNews">
                <div style="position:relative;">
                    <el-link :underline="false" :href="'/news/post/' + item.id">
                        <img :src="item.image" alt="点击转到新闻页"
                             class="w-1/3 sm:w-full shadow-md transition-normal hover:brighter hover:translate-y-1 hover:shadow-lg hover:border-indigo">
                    </el-link>
                </div>
                <div class="ml-3 sm:ml-0 w-2/3 sm:w-full">
                    <p class="text-sm my-2 font-medium sm:font-normal">
                        <el-link :underline="false" :href="'/news/post/' + item.id"
                                 style="display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; width: 150px;">
                            {{item.title}}
                        </el-link>
                    </p>
                    <p class="block sm:hidden mt-2 mb-3 text-sm leading-medium">{{item.content}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Profile -->
    <div class="hidden absolute pin-b z-10 lg:relative lg:block w-full lg:w-1/5 bg-grey-lighter-2 px-6 pt-10"
         id="profile">
        <div class="flex items-center mb-6">
            <img :src="user.userIcon" width="60px" height="60px">
            <div class="ml-3">
                <p>
                    {{user.name}}
                    <el-tag :type="user.banned | statusFilter">
                        {{ user.banned === 0 ? '正常' : user.banned === 1 ? '禁言' : '封禁'}}
                    </el-tag>
                </p>
                <p class="text-grey-dark mt-1 text-sm">加入时间:{{new Date(user.registTime).toLocaleDateString()}}</p>
                <input type="hidden" th:value="${name}" id="name"/>
            </div>
        </div>
        <div class="my-4 border-t pt-4">
            <h3 class="text-indigo-dark font-normal mb-6">该用户已经发表了 <strong>{{allNews.length}} 篇文章</strong> 至{{new
                Date().toLocaleDateString()}}</h3>
            <h3 class="text-indigo-dark font-normal mb-6">
                <el-link :underline="false" href="/index"><strong>返回首页</strong></el-link>
            </h3>
        </div>
    </div>

</div>
<script src="/static/assets/profile/bundle.js" async defer></script>
<script src="/static/assets/js/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
<script src="/static/assets/js/elementui-2.6.10.js"></script>

</body>
<script>

</script>
<script>
    const service = axios.create();
    service.interceptors.request.use(config => {
        config.headers['authorization'] = 'Bearer ' + localStorage.getItem('token');
        return config;
    });
    service.interceptors.response.use(response => {
        const res = response.data;
        if (response.code === 401) {
            //认证过期,从新登录
            localStorage.removeItem("token");
            localStorage.removeItem("name");
            window.location.href = '/login'
        } else {
            return res;
        }
    });
    new Vue({
        el: '#app',
        filters: {
            statusFilter(status) {
                const statusMap = {
                    0: 'success',
                    1: 'info',
                    2: 'danger'
                };
                return statusMap[status]
            },
        },
        data() {
            return {
                name: '',//后台传到页面的用户名
                user: {},//用户信息
                likeMost3: [],//表展示内容
                commentMost: {},//评论最多新闻
                likeMost: {},//最受欢迎新闻
                allNews: [],//当前用户所有新闻
            };

        },
        beforeCreate() {

        },
        created() {
            this.name = document.getElementById("name").value;
            service.get('/profile/user/info/' + this.name).then(response => {
                this.user = response.data;
                this.fetchData(this.user.id);
            });
        },
        methods: {
            /**
             * 初始化操作
             * @param userId
             */
            fetchData(userId) {
                /**
                 * 最近三条文章
                 */
                service.get('/profile/user/getLikeMost3/' + userId).then(response => {
                    this.likeMost3 = response.data;
                });
                /**
                 * 评论最多
                 */
                service.get('/profile/user/getCommentMost/' + userId).then(response => {
                    this.commentMost = response.data;
                });
                /**
                 * 点赞最多
                 */
                service.get('/profile/user/getLikeMost/' + userId).then(response => {
                    this.likeMost = response.data;
                });
                /**
                 * 所有已发布
                 */
                service.get('/profile/user/getAll/' + userId).then(response => {
                    this.allNews = response.data;
                });
            },
        }
    });
</script>

</html>