<!DOCTYPE html>

<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">

    <title>个人中心</title>
    <link href="/static/assets/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <link rel="stylesheet" href="/static/assets/profile/output.css">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body class="bg-grey-lighter font-sans antialiased">
<!--header-->
<!-- Main -->
<div class="flex" id="app" v-cloak>
    <!-- Content -->
    <div class="flex flex-1 flex-col md:px-6 pt-10" id="content">
        <!-- Title -->
        <div class="px-6 md:px-0 flex justify-between items-center -order-1">
            <div>
                <h2 class="font-normal">个人中心</h2>
                <p class="text-grey-dark mt-2">最近发表</p>
            </div>
            <button class="bg-indigo-dark hover:bg-indigo-darker text-white text-sm py-2 px-4 rounded-full transition-normal hover:shadow hover:translate-y-1 active:translate-y-1 focus:outline-none">
                发布文章
            </button>
        </div>
        <!-- Desktop Stats -->
        <div class="hidden px-6 md:px-0 mt-4 md:flex flex-wrap order-1 md:-order-1 md:shadow-md js-tab-pane"
             id="section-stats">
            <div class="p-4 px-6 w-full md:w-1/2 rounded md:rounded-r-none bg-white shadow-md md:shadow-none">
                <h4>你最近发表的三篇文章</h4>
                <table class="mt-4 w-full">
                    <thead class="p-2 text-sm leading-loose border-b text-indigo">
                    <tr>
                        <td>文章名</td>
                        <td class="text-center">评论数</td>
                        <td class="text-right">点赞数</td>
                    </tr>
                    </thead>
                    <tbody class="p-2 leading-loose text-sm">
                    <tr class="border-b" v-if="likeMost3.length === 0">
                        <td class="py-2" colspan="3">还没有发表文章呢,快去发表吧</td>
                    </tr>
                    <tr class="border-b" v-for="item in likeMost3">
                        <td class="py-2"><el-link :underline="false" :href="'/news/post/' + item.id">{{item.title}}</el-link></td>
                        <td class="py-2 text-center">{{item.commentCount}}</td>
                        <td class="py-2 text-right">{{item.likeCount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="w-full md:w-1/2 p-4 md:pt-12 md:pl-1 mt-4 md:mt-0 lg:pt-12 lg:pl-8 rounded md:rounded-r-none bg-white shadow-md md:shadow-none">
                <div class="flex">
                    <div class="w-1/2">
                        <p class="text-indigo text-sm p-2">评论最多的文章</p>
                        <p class="font-medium text-sm pl-2">
                            <el-link :underline="false" :href="commentMost !== null ? '/news/post/' + commentMost.id : '#'">
                                {{commentMost !== null ? commentMost.title : '暂无文章诶'}}
                            </el-link>
                        </p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-indigo text-sm p-2">一共发表的文章</p>
                        <p class="font-medium text-sm pl-2">{{allNews.length}}</p>
                    </div>
                </div>
                <div class="pt-6">
                    <p class="text-indigo text-sm p-2">点赞最多的文章</p>
                    <p class="font-medium text-sm pl-2 leading-normal">
                        <el-link :underline="false" :href="likeMost !== null ? '/news/post/' + likeMost.id : '#'">
                            {{likeMost !== null ? likeMost.title : '暂无文章诶'}}
                        </el-link>
                    </p>
                </div>
            </div>
        </div>
        <!-- Filter -->
        <div class="px-6 md:px-0 flex items-baseline justify-between border-b-2 border-grey-light mt-6 order-0 lg:order-1">
            <h4 class="hidden md:inline-block text-grey-dark font-normal">文章</h4>
            <div>
                <div class="inline-block md:hidden no-underline border-indigo pb-2 px-2 text-sm mr-2 text-indigo-darkest hover:cursor-pointer js-tab relative"
                     data-tab="section-stats">Stats
                </div>
                <div class="no-underline inline-block border-indigo pb-2 px-2 text-sm mr-2 text-indigo-darkest hover:cursor-pointer js-tab active relative"
                     data-tab="section-library">已发表 <span class="text-indigo text-xs">({{allNews.length}})</span></div>
            </div>
        </div>
        <!-- Library -->
        <div class="hidden px-2 pt-2 md:px-0 flex-wrap order-2 pb-8 js-tab-pane active" id="section-library">
            <div class="flex flex-row sm:flex-col items-center sm:items-start w-full xs:w-1/2 sm:w-1/3 md:w-1/5 p-4 js-book" v-for="item in allNews">
                <el-link :underline="false" :href="'/news/post/' + item.id">
                <img :src="item.image" alt=""
                     class="w-1/3 sm:w-full shadow-md transition-normal hover:brighter hover:translate-y-1 hover:shadow-lg hover:border-indigo">
                </el-link>
                <div class="ml-3 sm:ml-0 w-2/3 sm:w-full">
                    <p class="text-sm my-2 font-medium sm:font-normal">
                        <el-link :underline="false" :href="'/news/post/' + item.id">{{item.title}}</el-link>
                    </p>
                    <p class="block sm:hidden mt-2 mb-3 text-sm leading-medium">{{item.content}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Profile -->
    <div class="hidden absolute pin-b z-10 lg:relative lg:block w-full lg:w-1/5 bg-grey-lighter-2 px-6 pt-10"
         id="profile">
        <div class="flex items-center mb-6" @click="dialogFormVisible = true">
            <img :src="user.userIcon" width="60px" height="60px">
            <div class="ml-3">
                <p>{{user.name}}</p>
                <p class="text-grey-dark mt-1 text-sm">加入时间:{{new Date(user.registTime).toLocaleDateString()}}</p>
                <input type="hidden" th:value="${name}" id="name"/>
            </div>
        </div>
        <div class="my-4 border-t pt-4">
            <h3 class="text-indigo-dark font-normal">You have read <strong>4 of 30 books</strong> in 2018</h3>
            <div class="flex flex-wrap -ml-2 justify-start items-center">
                <img src="/static/assets/profile/images/read-01.jpg" alt="read"
                     class="w-1/6 lg:w-1/5 max-w-tiny shadow-md block m-2 transition-normal hover:brighter">
                <img src="/static/assets/profile/images/read-02.jpg" alt="read"
                     class="w-1/6 lg:w-1/5 max-w-tiny shadow-md block m-2 transition-normal hover:brighter">
                <img src="/static/assets/profile/images/read-03.jpg" alt="read"
                     class="w-1/6 lg:w-1/5 max-w-tiny shadow-md block m-2 transition-normal hover:brighter">
                <img src="/static/assets/profile/images/read-04.jpg" alt="read"
                     class="w-1/6 lg:w-1/5 max-w-tiny shadow-md block m-2 transition-normal hover:brighter">
            </div>
        </div>
        <div class="mt-6">
            <p class="text-grey-dark mt-1 text-sm">Currently Reading</p>
            <div class="flex items-start mt-2">
                <img src="/static/assets/profile/images/read-04.jpg" alt="read"
                     class="w-1/6 lg:w-1/5 max-w-tiny shadow-md block transition-normal hover:brighter">
                <div class="ml-3">
                    <p class="mt-1 leading-normal">Popular Lies* About Graphic Design</p>
                    <p class="text-indigo text-sm mt-1">15/250 pages</p>
                </div>
            </div>
        </div>
    </div>
    <!--弹出框开始---------------------------------------------------- -->
    <el-dialog title="个人信息" :visible.sync="dialogFormVisible">
        <el-form :model="user">
            <el-form-item label="用户名" :label-width="formLabelWidth">
                <el-input v-model="user.name" autocomplete="off" :disabled="true"/>
            </el-form-item>
            <el-form-item label="手机号" :label-width="formLabelWidth">
                <el-input v-model="user.phone" autocomplete="off" :disabled="user.phone !== null"/>
            </el-form-item>
            <el-form-item label="邮箱" :label-width="formLabelWidth">
                <el-input v-model="user.email" autocomplete="off" :disabled="user.email !== null"/>
            </el-form-item>
            <el-form-item label="昵称" :label-width="formLabelWidth">
                <el-input v-model="user.nickName" autocomplete="off"/>
            </el-form-item>
            <el-form-item label="个人介绍" :label-width="formLabelWidth">
                <el-input type="textarea" :rows="2" v-model="user.talk" autocomplete="off"/>
            </el-form-item>
            <el-form-item label="头像" :label-width="formLabelWidth">
                <el-avatar :src="user.userIcon" :size="40"/>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="">提 交</el-button>
        </div>
    </el-dialog>
    <!--弹出框结束---------------------------------------------------- -->
</div>
<script src="/static/assets/profile/bundle.js" async defer></script>
<script src="/static/assets/js/axios.js"></script>
<script src="/static/assets/js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</body>
<script>
    const service = axios.create();
    service.interceptors.request.use(config => {
        config.headers['authorization'] = 'Bearer ' + localStorage.getItem('token');
        return config;
    });
    service.interceptors.response.use(response => {
        const res = response.data;
        if (response.code === 401) {
            //认证过期,从新登录
            localStorage.removeItem("token");
            localStorage.removeItem("name");
            window.location.href = '/login'
        } else {
            return res;
        }
    });
	new Vue({
		el: '#app',
		data() {
			return {
                name: '',
                user: {},
                likeMost3: [],
                commentMost: {},
                likeMost: {},
                allNews: [],
                dialogFormVisible: false,
                formLabelWidth: '120px',
			}
		},
        beforeCreate() {

        },
		created() {
            this.name = document.getElementById("name").value;
            service.get('/profile/user/info/' + this.name).then(response => {
                this.user = response.data;
                this.fetchData(this.user.id);
            });
		},
		methods: {
            fetchData(userId) {
                service.get('/profile/user/getLikeMost3/' + userId).then(response => {
                    this.likeMost3 = response.data;
                });
                service.get('/profile/user/getCommentMost/' + userId).then(response => {
                    this.commentMost = response.data;
                });
                service.get('/profile/user/getLikeMost/' + userId).then(response => {
                    this.likeMost = response.data;
                });
                service.get('/profile/user/getAll/' + userId).then(response => {
                    this.allNews = response.data;
                });

            },


		}
	})
</script>
</html>