<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.graduation.commons.mapper.NewsMapper">
  <resultMap id="BaseResultMap" type="com.yang.graduation.commons.domain.News">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="content_html" jdbcType="VARCHAR" property="contentHtml" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="post_time" jdbcType="TIMESTAMP" property="postTime" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

</mapper>