<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.graduation.commons.mapper.UserLogsMapper">
    <resultMap id="BaseResultMap" type="com.yang.graduation.commons.domain.UserLogs">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="browser" jdbcType="VARCHAR" property="browser"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
    </resultMap>


</mapper>