<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/assets/js/jquery-3.2.1.min.js"></script>
<script src="/static/assets/js/jquery-migrate.js"></script>

<script src="/static/assets/js/popper.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/static/assets/js/owl.carousel.min.js"></script>

<script src="/static/assets/js/magnific-popup.min.js"></script>
<script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/assets/js/isotope.pkgd.min.js"></script>

<script src="/static/assets/js/waypoints.min.js"></script>
<script src="/static/assets/js/jquery.counterup.min.js"></script>
<script src="/static/assets/js/wow.min.js"></script>
<script src="/static/assets/js/scrollUp.min.js"></script>

<script src="/static/assets/js/plugin.js"></script>
<script src="/static/assets/js/script.js"></script>
<script src="/static/assets/js/axios.js"></script>
<script src="/static/assets/js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>